body {
    margin: 0;

    text-align: center;
}

#header {
    background-color: #bbdefb;
    margin: 0;
    padding: 10px;
}

.aaa {
    text-align: center;
}

div {
    text-align: center;
}

#previewImage {
    width: 25%;
    text-align: center;
}

#output_picture {
    width: 80%;
}