@font-face {
    font-family: 'Nyashi';
    src: url('Nyashi.woff2') format('woff2');
}


@font-face {
    font-family: 'Jiyucho';
    src: url('Jiyucho.woff2') format('woff2');
}


* {
    font-family: 'Nyashi', sans-serif;
}


header {
    font-family: 'Jiyucho', sans-serif;
}


body {
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);

    text-align: center;
}

#header {
    background-color: #bbdefb;
    margin: 0;
    padding: 10px;

    text-align: left;
}

.aaa {
    text-align: center;
}

div {
    text-align: center;
}

#previewImage {
    width: 25%;
    text-align: center;
}

#output_picture {
    width: 80%;
}

a {
    color: #1565c0;
}

footer {
    position: absolute;
    bottom: 0;

    padding-left: 5px;
}
