/* form {
    max-width: 100%;
} */

body {
    margin: 0;
}

#header {
    background-color: #bbdefb;
    margin: 0;
    padding: 10px;
}

.aaa {
    text-align: center;
}

/* form { 
    width: 100%;
} */


/* .preview { 
    text-align: center;
} */

div {
    text-align: center;
}

#previewImage {
    width: 25%;
    
}

#output_picture {
    width: 80%;
}